[user]
	email = conor.brosnan@instaclustr.com
	name = conorbros
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main
